* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--color-ui-border-default);
  background-color: var(--color-foreground-dark);
}

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
}

.widget,
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
  z-index: 1;
  min-height: 300px;
}

.card-style {
  border: 1px solid var(--color-ui-border-default);
  background-color: var(--color-button-default);
}

.app h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.app p {
  font-size: 16px;
  text-align: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-foreground-dark);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.app-frame {
  position: fixed;
  top: 46px;
  height: calc(100vh - 46px);
  width: 100vw;
  border: none;
  background-color: #fff;
  z-index: 1;
  overflow: auto;
}

.title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-foreground-dark);
  color: var(--color-text-default);
  padding: 9px 10px 9px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bar h2 {
  margin: 0;
  font-size: 24px;
}

.close-button {
  color: var(--color-text-default);
  height: 28px !important;
  width: 28px !important;
}