body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.literally {
  height: 100vh;
  width: 100vw;
}

.lc-drawing {
  background-color: var(--color-foreground-dark) !important;
}

input[type="checkbox"] {
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  appearance: none;
}

input[type="checkbox"]::before {
  width: 18px;
  height: 18px;
  content: "";
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--color-input-border-strong);
  background-color: var(--color-ui-hover-default);
}

input[type="checkbox"]:checked::before {
  background: var(--color-primary-adaptive);
  border: 2px solid var(--color-primary-adaptive);
}

input[type="checkbox"]:checked::after {
  width: 5px;
  height: 10px;
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  transform: rotate(45deg);
  border: solid var(--color-background-default);
  border-width: 0 2px 2px 0;
  border-radius: 1px;
}

input[type="radio"] {
  vertical-align: middle !important;
  height: 18px;
  width: 18px;
  margin: 0 4px 0 4px;
  cursor: pointer;
  appearance: none;
  border-radius: 28px;
  vertical-align: bottom;
  highlight-color: transparent;
  background: var(--color-ui-hover-default);
  border: 1px solid var(--color-input-border-strong);
}

input[type="radio"]:checked {
  background: var(--color-background-default);
  border: 4px solid var(--color-primary-adaptive);
}

select {
  cursor: pointer;
  font-size: 15px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--color-text-default);
  background-color: var(--color-button-default);
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-color: var(--dark, rgba(0, 0, 0, 0.08)) var(--light, rgba(0, 0, 0, 0.2));
  border-top-color: var(--dark, rgba(117, 117, 117, 0.22)) var(--light, rgba(0, 0, 0, 0.08));
  margin: 0 4px 0 4px;
}